{% extends 'layouts/layout.html' %}
{% load static %}

{% block header %}
    {% static 'assets/img/home-bg.jpg' as blog_list_image %}
    {% include 'includes/header.html' with image_url=blog_list_image title='Clean Blog' description='A Blog Theme by Start Bootstrap'%}
{% endblock header %}


{% block main %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for article in articles %}
                     <div class="post-preview">
                        <a href="{% url 'blog-detail' id=article.id %}">
                            <h2 class="post-title">{{article.title}}</h2>
                            <h3 class="post-subtitle">{{article.content|truncatechars:70}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Vasif</a>
                            on {{article.updated}}
                        </p>
                    </div>
                    <hr class="my-4" />
            {% endfor %}
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>
{% endblock main %}