{% extends 'layouts/layout.html' %}
{% load static %}

{% block header %}
    {% static 'assets/img/first.jpg' as home_image %}
    {% include 'includes/header.html' with image_url=home_image title='Xoş Gəlmisiniz' description='Adlar haqqında ətraflı məlumat ala biləcəyiniz tək ünvan' %}
{% endblock header %}

{% block main %}
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p><b>Uşaqlara ad seçərkən adın gözəlliyindən çox, uşağın taleyinə necə təsir edəcəyini öyrənmək lazımdır<b></p>
                        <p>Adlar da geyim kimidir, bəziləri insana tam uyğun olur, bəziləri böyük, bəziləri kiçik. Ümumiyyətlə, adların insan taleyinə böyük təsirinin olduğu deyilir. Belə ki, ad daşıdığı məna ilə insan həyatına təsir edir. Çünki adların yarandığı hərflər hərəsi ayrılıqda bir məna daşıyır.

                            Hərflərin sözlərə və adlara, ümumiyyətlə, bütün varlıqlara təsirini öyrənən elm huruf adlanır. İnsan adının taleyinə təsiri mövzusu ilmi hurufun əsas istiqamətidir.
                            
                            Qədim Misirdən Roma İmperatorluğuna qədər bütün cəmiyyətlər elmi hurufla yaxından maralanıblar. Romalılar "nomen est omen" yəni "adımız taleyimizdir" deyəcək qədər qəti bir inanca sahibdilər.
                            
                            Hərflərin sirri İsrail oğulları tərəfindən də araşdırılıb, analiz edilib. Bu üsulla Babil, Kalde, Asar və s. dövlətlər müxtəlif araşdırmalar aparıblar. Adamın adındakı hərflərin onun taleyinə təsir etdiyini zamanla ərəblər də qəbul ediblər. Məhəmmməd (ə.s) Peyğəmbər buyurub ki, "övladlarınızı gözəl adlarla adlandırın ki, onlar gözəl insan olaraq xatırlansınlar".
                            
                            Azərbaycanda doğulan oğlan uşaqlarına verilən adlardan ən populyarı Yusifdir. Belə ki, bu ad 541 körpəyə verilib. İkinci yerdə Hüseyn (344), üçüncü yerdə isə Əli (325) adıdır. Bu barədə Ədliyyə Nazirliyindən bildirilib. Məlumata görə, qız uşaqlarına ən çox verilən ad isə Zəhradır. Bu ad 459 qız uşağına qoyulub. Digər ən çox verilən adlar isə Nuray və Fatimədir. Belə ki, 353 nəfərə Nuray, 301 nəfərə isə Fatimə adı verilib.
                            
                            Türkiyədə adların analizi ilə məşğul olan həmyerlimiz Nicat Səmavinin sözlərinə görə, eynilə bürclərdə olduğu kimi hərflərdə də su, hava, od, torpaq qrupları var və hamısı heyvan xarakteriylə uyğunlaşdırılıb. "Elmi hurufa görə, adında ç, ş, ğ kimi işarəli hərflər və nöqtəli ö, i, ü hərfləri olan insanlar müəyyən həyati problemlər yaşaya bilər. Bura iqtisadi, sağlamlıq və ya ailəvi problemlər aid edilə bilər. Adında "gül" hecası olan insanlara (Gülşən, Gülnar, Gülay) diqqət yetirilirsə, görmək mümkündür ki, bu insanlar bədbəxt bir həyat yaşayırlar. Çünki cüt nöqtəli bu sait bədbəxtlik və problem gətirir. Hecanın ilk hərfi g isə bu təsiri artırır. "Adında r, l, n hərfləri olan insanlar xoşbəxt taleli insanlar olur. Adında v ilə re, rə hecaları olan insanlar pul toplamaqda çətinlik çəkərlər".
                            
                            Araşdırmaçı deyir ki, adında s, ş, z olanlar fədakar, sevgi dolu insanlar olur. Od qrupu hərflər z, ş, f, g, y, hava qrupu hərflər k, h, r, c, j, su qrupu hərflər b, p, d, t və s, torpaq qrupu hərflər l, m, n-dır.
                            
                            Mütəxəssisin sözlərinə görə, uşaqlara ad seçərkən adın gözəlliyindən çox, uşağın taleyinə necə təsir edəcəyini öyrənmək lazımdır. Bunun üçün uşağın adındakı hərflərin ədədi düzülməsi, hərf sayı, adın içindəki nöqtəli və işarəli hərflərin olmasına diqqət yetirmək və ata-ananın adıyla uyğun olmasına önəm vermək lazımdır. Həmsöhbətimiz bildirir ki, adlarda olan hərflər təkcə insanın taleyinə deyil, sağlamlığına da təsir edə bilər. "Əgər adda "a" hərfi çoxdursa, qan dövranı ilə bağlı xəstəliklər, "e" hərfi çoxdursa, boğaz yollarıyla bağlı xəstəliklər çox olur. "R" və "t" kimi sərt hərflərlə bitən adlı insanlar sərt insanlar olur.
                            
                            Ekspertə görə, əslində heç bir hərfə yaxşı və ya pis demək doğru deyil. Çünki hamısı enerji dəyərləri daşıyır. Bu enerjilərin yarısı müsbət, yarısı mənfidir. Amma bəzi hərflərin daha ağır tale yaşatdığını bilirik. Məsələn ü, ö, ğ bir az çətin hərflərdir. İnsan istədiyi zaman adını dəyişərsə, bu, onun taleyinə təsir edə bilər.
                            
                            İslam dinində də insanlara gözəl ad seçilməsi böyük əhəmiyyət daşıyır. Yeni doğulan uşağa qısa bir müddət ərzində gözəl bir ad qoymaq ana və ataların ən əhəmiyyətli vəzifələrindəndir. Uşağa qoyulan ad həm bu dünyada, həm də axirətdə etibarlıdır. İlahiyyatçı Səriyyə Saminin dediyinə görə, peyğəmbərimiz nəinki balaca uşaqların, hətta böyüklərin də adı ilə maraqlanmış və yaxşı təsiri olmayan adları dəyişmişdir. "Peyğəmbərimiz buyurub ki, "qiyamət günü adınız və atalarınızın adı ilə çağırılacaqsınız. Elə isə özünüzə gözəl adlar seçin".
                            
                            Müsahibimizin sözlərinə görə, Allaha xas adları insanlara qoymaq olmaz. "Əgər belə adlar qoymaq istəyirsinizsə, adların əvvəlinə "əbdül" sözünü artırmaq lazımdır. Məsələn Kərim, Əziz adarının qarşısına Əbdül sözünü qoymaqla bu adlardan istifadə edə bilərsiniz".
                            
                            Peyğəmbərimizin insanlara məsləhət gördüyü adlar arasında Abdullah, Əbdürrəhman, Məhəmməd, Həsən, Hüseyn, Aişə, Fatimə, Zeynəb, Xədicə, Cəmilə, Zəhra adları var.
                            
                            Seçim insanın əlindədir. Kim nəyi seçərsə, onu da yaşayar. Odur ki, övladlarınıza ad verərkən gözəl adlar seçin ki, həyatları gözəl keçsin...</p>
                    </div>
                </div>
            </div>
        </main>
{% endblock main %}

